*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:consolas;
}
section{
    position:relative;
    width:100%;
    height:100vh;
    background: #d69393b8;
    display:flex;
    justify-content: center;
    align-items:center;
}
section::before{
    content:'';
    position:absolute;
    top:10%;
    right:20%;
    width:250px;
    height:250px;
    border-radius: 75px 8px;
    background: linear-gradient(#ecf924,#fff824);
    animation:animate 5s ease-in-out infinite;
}
section::after{
    content:'';
    position:absolute;
    bottom:10%;
    left:20%;
    width:250px;
    height:250px;
    border-radius:75px 8px;
    background: linear-gradient(#ff0052,#ff0052);
    animation:animate 5s ease-in-out infinite;
    animation-delay:2.5s;
}
@keyframes animate{
    0%,100%{
        transform:translateX(20px);
    }
    50%{
        transform:translateX(-20px);
    }
}
/*Clock styling*/
.clock{
position:relative;
width:700px;
height:200px;
background: rgba(255,255,255,0.05);
box-shadow:0 15px 25px rgba(0,0,0,0.1);
z-index:1000;
border-radius:15px;
border:1px solid rgba(255,255,255,0.1);
backdrop-filter:blur(20px);
}
.clock .container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.clock .container h2{
    font-size:6em;
    color:#fff;
}
.clock .container h2:nth-child(odd){
    padding:5px 10px;
    border-radius:8px;
    background: rgba(255,255,255,0.05);
    box-shadow:0 15px 25px rgba(0,0,0,0.1);
    border-bottom:1px solid rgba(255,255,255,0.1);
    border-right:1px solid rgba(255,255,255,0.1);
}
